{% extends "core/base.html" %}
{% block content %}
<div class="card shadow-lg mb-4 border-0">
    <div class="card-header navbar-dark bg-primary text-white">
        <h4 class="my-0 font-weight-normal">What is Biomed IoT</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <p>
                Biomed IoT is an open-source IoT platform, designed for collecting and storing sensor data, 
                as well as facilitating automation between devices.

                It is under Development by René Sesgör at Biomed Lab, Munich University of Applied Sciences.
            </p>
        </div>
    </div>
</div>
<div class="card shadow-lg mb-4 border-0">
    <div class="card-header navbar-dark bg-primary text-white">
        <h4 class="my-0 font-weight-normal">Biomed Lab at Munich University of Applied Sciences</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <ol class="styled-list">
                <li><a href="https://biomedlabor.de" target="_blank">Biomed Lab Website</a></li>
                <li><a href="https://github.com/BioMedLab-HM/biomed-iot" target="_blank">Biomed IoT GitHub Repository</a></li>
                <li><a href="https://github.com/AwakeAndReady" target="_blank">René Sesgör's personal GitHub page</a></p>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}
