{% extends "core/base_parent.html" %}

{% block base_content %}
<div class="upper-background">
    <div class="container">
        <!-- Page Title-->
        <h2 style="font-weight: 250;">{{ title }}</h2>  <!-- font weight 400 is normal thickness -->
    </div>
</div>
<div class="lower-background">
    <div class="container">
        <div class="text-left mt-4 pb-4">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Page Content-->
            {% block content %}{% endblock content %}
        </div>
    </div>
    <div class="pb-1" id="footer" style="background-color: #f2f2f2; text-align: center; padding: 20px; font-size: 15px; color: #555;">
        <a href="{% url 'core-about' %}" style="margin-right: 20px; color: #555; text-decoration: none;">About</a>
        <a href="{% url 'core-imprint' %}" style="margin-right: 20px; color: #555; text-decoration: none;">Imprint</a>
        <a href="{% url 'core-privacy-policy' %}" style="color: #555; text-decoration: none;">Privacy Policy</a>
        <!-- <hr style="width:20%; margin-left: auto; margin-right: auto;"> -->
        <p style="margin-top: 0.75rem; color: #555;">Copyright 2025 by <a href="https://github.com/AwakeAndReady" target="_blank">René Sesgör</a></p>
    </div>
</div>
{% endblock base_content %}
