{% extends "core/base.html" %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Get startet with Biomed IoT</h4>
    </div>
    <div class="card-body">
        <p> 
            Biomed IoT is an open-source IoT platform, designed for collecting and storing sensor data, as well as automation between devices.
        </p>
        <h5>Best for beginners</strong>: The <a href="{% url 'core-manual' %}">Manual</a> demonstrates the platform with a simple use case.<br><br></h5>
        <hr>
        <!-- class="styled-list" -->
        <h5>General Overview</h5>
        <ol>
            <li style="line-height: 2;"><strong><a href="{% url 'register' %}">Create an account</a></strong> and log in (email verification is required)</li>
            <li style="line-height: 2;"><strong><a href="{% url 'devices' %}">Device List</a></strong>: Begin by registering your IoT devices to get MQTT credentials for your device.</li> 
            <li style="line-height: 2;"><strong><a href="{% url 'message-and-topic-structure' %}"> Message and topic structure</a></strong>: Learn about data format and topic structure</li>
            <li style="line-height: 2;"><strong><a href="{% url 'code-examples' %}">Code Examples</a></strong>: Copy and paste code templates for your IoT devices</li>
            <li style="line-height: 2;"><strong><a href="{% url 'nodered-manager' %}">Automate</a></strong>: Link your sensors and actuators and store your devices' data into the time series database (InfluxDB) with Node-RED.</li>
            <li style="line-height: 2;"><strong><a href="{% url 'visualize' %}">"Visualize"</a></strong>: Visit the 'Visualize' page to visualize and export (csv) your data with Grafana.</li>
            <li style="line-height: 2;"><strong><a href="{% url 'manage-data' %}">Delete Data</a></strong>: Navigate to the 'Delete Data' page to selectively delete data. More functionality may come.</li>
        </ol>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% endblock %}
