{% extends "core/base.html" %}

{% block content %}
<div class="card shadow mb-4 border-0">
    <div class="card-header navbar-dark bg-primary text-white">
        <h4 class="my-0 font-weight-normal">Get started with Biomed IoT</h4>
    </div>
    <div class="card-body">
        <p class="lead mb-4">
            Biomed IoT is an <strong>open-source IoT platform</strong> for collecting and storing sensor data, and automating devices.
        </p>
        <div class="alert alert-info mb-4">
            <h5 class="mb-1"><i class="bi bi-lightbulb"></i> Best for beginners:</h5>
            <span>The <a href="{% url 'core-manual' %}" class="alert-link">Manual</a> demonstrates the platform with a simple use case.</span>
        </div>
        <hr>
        <h5 class="mb-3"><i class="bi bi-list-check"></i> How to use</h5>
        <ol class="list-group list-group-numbered mb-0">
            <li class="list-group-item py-3">
                <strong><a href="{% url 'register' %}">Register</a></strong> and log in
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'devices' %}">Device List</a></strong>: Manage your IoT-device's MQTT-credentials
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'message-and-topic-structure' %}">Message & Topic Structure</a></strong>: Learn about message data format and mandatory topic structure
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'code-examples' %}">Code Examples</a></strong>: Optionally copy and paste code templates for your IoT devices
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'nodered-manager' %}">Automate</a></strong>: Create automation logic and store data into the time series database (InfluxDB) with Node-RED
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'visualize' %}">Visualize</a></strong>: Visualize data with Grafana
            </li>
            <li class="list-group-item py-3">
                <strong><a href="{% url 'manage-data' %}">Manage Data</a></strong>: Delete or export data as CSV-file
            </li>
        </ol>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% endblock %}
