{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="upper-background">
    <!-- Content for the upper part of the page goes here. -->
    <h1>Devices</h1>
    <p class="lead">Manage credentials for MQTT devices.</p>
    <!-- More content here. -->
</div>
<div class="lower-background">
    <!-- New section for in_topic and out_topic information -->
    <div class="card card-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">MQTT Topic Patterns</h5>
            <div class="row align-items-center mb-2"> <!-- Added mb-2 for spacing -->
                <div class="col-12 col-md-5 col-lg-3 col-xl-3">
                    <p class="mb-0">Send Data To (In-Topic):</p>
                </div>
                <div class="col-9 col-md-4">
                    <input type="text" id="inTopicField" class="form-control" value="{{ in_topic }}" readonly>
                </div>
            </div>
        
            <div class="row align-items-center"> <!-- New row for separation -->
                <div class="col-12 col-md-5 col-lg-3 col-xl-3">
                    <p class="mb-0">Receive Data From (Out-Topic):</p>
                </div>
                <div class="col-9 col-md-4">
                    <input type="text" id="outTopicField" class="form-control" value="{{ out_topic }}" readonly>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 1.5rem;"></div>
    {% if device_clients %}
        <!-- <div style="margin-bottom: 2rem;"></div> -->
        <div class="card card-tertiary mb-2">
            <div class="card-body">
                <h5 class="card-title">Your Devices</h5>
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-9 col-12">
                            <input type="text" class="form-control" id="id_textname" name="textname" placeholder="New Device Name (max. 30 characters)" maxlength="{{ form.textname.field.max_length }}" autocomplete="off" required>
                        </div>
                        <div class="col-md-3 col-12">
                            <button type="submit" class="btn btn-primary mt-md-0 mt-2 w-100" name="action" value="create">Add Device</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col"></th> <!-- Added column for actions -->
                                <th scope="col"></th> <!-- Added column for actions -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in device_clients %}
                                <tr>
                                    <td>{{ device.textname }}</td>
                                    <td>{{ device.username }}</td>
                                    <td>{{ device.password }}</td>
                                    <td>
                                        <!-- Copy device credentials button -->
                                        <button class="copy-button" data-clipboard-text="u: {{ device.username }}  p: {{device.password}}">Copy</button>
                                    </td>
                                    <td>
                                        <!-- Delete form for each device -->
                                        <form method="post" action="{% url 'devices' %}" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="device_username" value="{{ device.username }}">
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this device?');">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 1.5rem;"></div>
    {% else %}
        <p>No devices found.</p>
    {% endif %}
</div>
{% endblock content %}

{% block extra_css %}
<style>

    .card {
        border: 1px solid #E7F1FF; /* Dark blue border */
        background-color: #E7F1FF; /* Light blue background */
        /* box-shadow: 0 2px 4px rgba(140, 140, 140, 0.3); */
    }

    /* Primary blue shade - consider this your default or middle shade */
    .card-primary {
        /* background-color: rgb(215, 225, 245); */
        background-color: #EAEFF7;
    }

    /* Slightly lighter shade of blue */
    .card-secondary {
        /* background-color: rgb(225, 235, 250); */
        background-color: #D6E0F5;
    }

    /* Even lighter shade of blue */
    .card-tertiary {
        background-color: #F0F3F8;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2; /* Light grey for even rows */
    }

    table tr:nth-child(odd) {
        background-color: #ffffff; /* White for odd rows */
    }

    /* Top row rounded corners */
    table tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }
    table tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    /* Bottom row rounded corners */
    table tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .card-body .table thead tr {
        background-color: #34495E;
        color: white;
    }

    .scroll-indicator::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        /* background: linear-gradient(to right, transparent, #f7f7f7); */
    }

    .scroll-indicator::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        /* background: linear-gradient(to left, transparent, #f7f7f7); */
    }

    .table-responsive {
        position: relative;
        margin-bottom: -1rem;
    }

    .copy-button {
        cursor: pointer;
        background: #5D6D7E; /* transparent; */
        border: none;
        font-size: 1rem;
        transition: background 0.2s; /* Smooth transition for background color */
    }

    .copy-button:hover {
        background: #CCCCCC; /* Lighter shade for hover */
    }
</style>
{% endblock %}

{% block extra_js %}
<script>
// Scroll indicator script
document.addEventListener("DOMContentLoaded", function() {
    const tableContainer = document.querySelector('.table-responsive');
    const table = tableContainer.querySelector('table');

    function updateScrollIndicator() {
        if (table.offsetWidth > tableContainer.offsetWidth) {
            tableContainer.classList.add('scroll-indicator');
        } else {
            tableContainer.classList.remove('scroll-indicator');
        }
    }

    // Initial check
    updateScrollIndicator();

    // Check on window resize
    window.addEventListener('resize', updateScrollIndicator);
});

// Copy Button Script
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.copy-button').forEach(button => {
        button.addEventListener('click', function() {
            const text = this.getAttribute('data-clipboard-text');
            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            try {
                const successful = document.execCommand('copy');
                const msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }
            document.body.removeChild(textarea);
        });
    });
});
</script>
{% endblock %}
