{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>Devices</h1>
    <p class="lead">Here you can manage credentials for your devices.</p>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Use the following credentials to send and receive messages in Node-RED</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ nodered_client.textname }}</td>
                        <td>{{ nodered_client.username }}</td>
                        <td>{{ nodered_client.password }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.textname|as_crispy_field }}
            <button class="btn btn-success" type="submit" name="action" value="create">Create Device</button>
        </div>
    </form>

    {% if device_clients %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for device in device_clients %}
                    <tr>
                        <td>{{ device.textname }}</td>
                        <td>{{ device.username }}</td>
                        <td>{{ device.password }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No devices found.</p>
    {% endif %}
</div>
{% endblock content %}