{% extends "core/base.html" %}
<!-- Node-RED Manager -->

{% block content %}
<div class="upper-background">
    <!-- Content for the upper part of the page goes here. -->
    <h1>Automation</h1>
    <p class="lead">Automate between In- and Out-Devices and Save to the Database with Node-RED.</p>
    <!-- More content here. -->
</div>
<div class="lower-background">
    <form method="post">
        {% csrf_token %}
        {% if container_state == 'none' %}
            <div class="alert alert-primary" role="alert">
                <p>Use Node-RED to:</p>
                <ul>
                    <li>Automate tasks by connecting sensors and actuators through MQTT messages</li>
                    <li>Store data into the Database</li>
                </ul>
                <button type="submit" class="btn btn-success" name="action" value="create">Start with Node-RED</button>
            </div>
        {% elif container_state == 'stopped' %}
            <div class="alert alert-warning" role="alert">
                <p>Your Node-RED is currently stopped. Your flows are not running.</p>
                <p>Restart Node-RED to let it work again</p>
                <button type="submit" class="btn btn-primary" name="action" value="restart">Restart Node-RED</button>
            </div>
        {% elif container_state == 'running' %}
            <div class="alert alert-success" role="alert">
                <p>Your Node-RED is running and working.</p>
                <p>Open Node-RED now and edit your flows</p>
                <button type="submit" class="btn btn-info" name="action" value="run">Open Node-RED</button>
            </div>
            <!-- <hr> -->
            <div class="alert alert-danger" role="alert">
                <p>Stop Node-RED to pause your flows and give back resources to the server.</p>
                <button type="submit" class="btn btn-danger" name="action" value="stop">Stop Node-RED</button>
            </div>
        {% elif container_state == 'starting' %}
            <div class="alert alert-info text-center d-flex justify-content-center align-items-center" role="alert" style="flex-direction: column;">
                <p>Node-RED is starting up. Please wait...</p>
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script>
    // Call the function to check container status after the page loads
    document.addEventListener('DOMContentLoaded', function() {checkNoderedStatus();});

    function checkNoderedStatus() {
        fetch('{% url "nodered-status-check" %}')  //  path to the status checking endpoint
            .then(response => response.json())
            .then(data => {
                if(data.status == "running") {
                    window.location.href = "{% url 'nodered-embedded' %}";  // Redirect when running
                } else {
                    setTimeout(checkNoderedStatus, 2000);  // Recheck after 2 seconds
                }
            })
            .catch(error => console.error('Error checking container status:', error));
    }
    </script>
{% endblock %}