{% extends "core/base_parent.html" %}

{% block base_content %}
<div class="upper-background">
    <div class="container">
        <!-- Content for the upper part of the page goes here. -->
        <h1>Devices</h1>
        <p class="lead">Manage credentials for MQTT devices.</p>
        <!-- More content here. -->
    </div>
</div>
<div class="container">
    <div class="text-left mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
    </div>
</div>
{% endblock base_content %}
