asgiref==3.8.1
bcrypt==4.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2025.4
cryptography==44.0.2
Deprecated==1.2.18
Django==5.2
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-oauth-toolkit==3.0.1
django-revproxy==0.13.0
docker==7.1.0
gunicorn==23.0.0
idna==3.10
influxdb-client==1.48.0
jwcrypto==1.5.6
oauthlib==3.2.2
packaging==25.0
paho-mqtt==2.1.0
pillow==11.2.1
psycopg==3.2.7
psycopg-binary==3.2.7
psycopg-pool==3.2.6
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
reactivex==4.0.4
requests==2.32.3
ruff==0.11.8
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
wrapt==1.17.2
