{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Selectively Delete Measurement Data</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">Delete Data</button>
        </form>
        <div class="row">
        </div>
    </div>
</div>
{% endblock content %}

