{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Selectively Delete Measurement Data</h4>
    </div>
    <div class="card-body">
        <ul class="text-muted">
            <li>To delete a measurement and all its fields, select the measurement and click delete.</li>
            <li>To remove specific field values, enter them in "Fields to delete" as shown below</li>
            <li>You can also set a time range to target specific data; by default, the time range is set broadly enough to include all data.</li>
        </ul>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this data?');">Delete Data</button>
        </form>
        <div class="row">
        </div>
    </div>
</div>
{% endblock content %}

