{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card shadow mb-4 border-0">
  <div class="card-header navbar-dark bg-primary text-white">
    <h4 class="my-0 font-weight-normal">Download or Delete Data</h4>
  </div>
  <div class="card-body">
    <ul class="text-muted mb-4">
      <li>Delete measurement data or download it as a CSV</li>
      <li>How: Select measurement, optional tags and time range.</li>
    </ul>

    <form method="post" action="{% url 'manage-data' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div id="data-endpoints" 
        data-ajax-get-tags-url="{% url 'ajax_get_tags' %}">
      </div>
      {# single toggle button, right-aligned #}
      <div class="mb-2 text-right">
        <button
          type="button"
          id="toggle-tags"
          class="btn btn-outline-secondary btn-sm"
          disabled>
          Select All Tags
        </button>
      </div>

      <div class="d-flex justify-content-between mt-4 flex-wrap">
        <button type="submit"
                formaction="{% url 'download-data' %}"
                class="btn btn-outline-primary">
          📥 Download CSV
        </button>
        <button type="submit"
                formaction="{% url 'delete-data' %}"
                class="btn btn-delete"
                onclick="return confirm('Are you sure you want to permanently delete the selected data?');">
          🗑️ Delete Data
        </button>
      </div>
      
      
    </form>
  </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/custom/manage_data_scripts.js' %}"></script>
  
{% endblock %}
