{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Section in_topic and out_topic information -->
<div class="card card mb-3">
    <div class="card-header">
        <h5 class="my-0 font-weight-normal">MQTT Topic Patterns</h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center mt-3 mb-2"> <!-- First row -->
            <div class="col-12 col-md-7 col-lg-7 col-xl-6">
                <p class="mb-1">Publish MQTT messages to the following topic structure from your iot-device<strong><sup>*</sup></strong>:</p>
            </div>
            <div class="col-9 col-md-5">
                <input type="text" id="inTopicField" class="form-control" value="{{ in_topic }}" readonly>
            </div>
        </div>

        <div class="row align-items-center"> <!-- New row for separation -->
            <div class="col-12 col-md-7 col-lg-7 col-xl-6">
                <p class="mb-1">Subscribe to this topic on your controlling device to receive data<strong><sup>*</sup></strong>:</p>
            </div>
            <div class="col-9 col-md-5">
                <input type="text" id="outTopicField" class="form-control" value="{{ out_topic }}" readonly>
            </div>
        </div>
        <div class="row"> <!-- New row for separation -->
            <p class="mt-3 mb-1"><strong>'<i>{{ topic_id }}</i>'</strong> is your personal topic ID, under which
                only your devices can send and receive data.<br>Replace <code>your/subtopic</code> with any specific subtopic you need for your application</p>
        </div>
        <div class="row"> <!-- New row for additional clarification -->
            <p class="mt-3 mb-1"><strong><sup>*</sup></strong>If you send data to a <strong>local gateway</strong>, <strong>omit the personal topic ID</strong>. In this case, the topic structure should be: <code>in/your/subtopic</code></p>
        </div>
    </div>
</div>
<div style="margin-bottom: 1.5rem;"></div>

<!-- Section message structure information -->
<div class="card card mb-3">
    <div class="card-header">
        <h5 class="my-0 font-weight-normal">Message Structure</h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center mt-3 mb-2"> <!-- First row -->
            <div class="col-12 col-md-7 col-lg-7 col-xl-6">
                <p class="mb-1">Use this structure for your message payload<strong><sup>*</sup></strong>:</p>
            </div>
            <div class="col-9 col-md-5">
                <pre><code>{{ message_example }}</code></pre>
            </div>
        </div>
        <div class="row align-items-center mt-3 mb-2"> <!-- First row -->
            <div class="col-12 col-md-7 col-lg-7 col-xl-6">
                <p class="mb-1">Or extend it for more than one sensor value<strong><sup>*</sup></strong>:</p>
            </div>
            <div class="col-9 col-md-5">
                <pre><code>{{ message_example_large }}</code></pre>
            </div>
        </div>
        <div class="row align-items-center mt-3 mb-2"> <!-- First row -->
            <p><strong><sup>*</sup></strong>If no timestamp is specified, the database will automatically generate one using the server time, currently {{ current_server_time }}</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_css %}
<style>
    pre {
        background-color: #eee;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
    }

    code {
        font-family: monospace;
        color: #333;
    }

    .scroll-indicator::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        /* background: linear-gradient(to right, transparent, #f7f7f7); */
    }

    .scroll-indicator::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        /* background: linear-gradient(to left, transparent, #f7f7f7); */
    }

    .table-responsive {
        position: relative;
        margin-bottom: -1rem;
    }

    .copy-button {
        cursor: pointer;
        background: #5D6D7E;
        /* transparent; */
        border: none;
        font-size: 1rem;
        transition: background 0.2s;
        /* Smooth transition for background color */
    }

    .copy-button:hover {
        background: #CCCCCC;
        /* Lighter shade for hover */
    }
</style>
{% endblock %}

{% block extra_js %}
<script>
    // function toggleVisibility() {
    //     var usernameFields = document.querySelectorAll(".usernameField");
    //     var passwordFields = document.querySelectorAll(".passwordField");

    //     // Loop through all username fields
    //     usernameFields.forEach(function (field) {
    //         field.type = field.type === "password" ? "text" : "password";
    //     });

    //     // Loop through all password fields
    //     passwordFields.forEach(function (field) {
    //         field.type = field.type === "password" ? "text" : "password";
    //     });
    // }


    // Scroll indicator script
    // document.addEventListener("DOMContentLoaded", function() {
    //     const tableContainer = document.querySelector('.table-responsive');
    //     const table = tableContainer.querySelector('table');

    //     function updateScrollIndicator() {
    //         if (table.offsetWidth > tableContainer.offsetWidth) {
    //             tableContainer.classList.add('scroll-indicator');
    //         } else {
    //             tableContainer.classList.remove('scroll-indicator');
    //         }
    //     }

    //     // Initial check
    //     updateScrollIndicator();

    //     // Check on window resize
    //     window.addEventListener('resize', updateScrollIndicator);
    // });

    // // Copy Button Script
    // document.addEventListener('DOMContentLoaded', () => {
    //     document.querySelectorAll('.copy-button').forEach(button => {
    //         button.addEventListener('click', function() {
    //             const text = this.getAttribute('data-clipboard-text');
    //             const textarea = document.createElement('textarea');
    //             textarea.value = text;
    //             document.body.appendChild(textarea);
    //             textarea.select();
    //             try {
    //                 const successful = document.execCommand('copy');
    //                 const msg = successful ? 'successful' : 'unsuccessful';
    //                 console.log('Fallback: Copying text command was ' + msg);
    //             } catch (err) {
    //                 console.error('Fallback: Oops, unable to copy', err);
    //             }
    //             document.body.removeChild(textarea);
    //         });
    //     });
    // });
</script>
{% endblock %}