{% extends "core/base.html" %}
{% load static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <!-- <button type="submit" class="btn btn-info" name="action" value="open">Open Node-RED Flow Editor</button> -->
    <div class="alert alert-success mb-3" role="alert">
        <div class="row mt-12">
            <div class="col-md-6" style="margin-bottom: 0.7rem;">
                <h4>Your Node-RED is running</h4>
            </div>
        </div>
        <div class="row mt-12">
            <div class="col-md-4" style="margin-bottom: 0.7rem;">
                <button type="button" class="btn btn-info btn-block" data-url="{% url 'nodered' %}" id="openFlows" title="Opens in a new tab">
                    Node-RED Flow Editor <span aria-hidden="true">&#8599;</span>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-block" data-url="{% url 'nodered-dashboard' %}" id="openDashboard" title="Opens in a new tab">
                    Node-RED Dashboard <span aria-hidden="true">&#8599;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4 border-0">
        <div class="card-header navbar-dark bg-primary text-white">
            <h4 class="my-0 font-weight-normal">Variables Used in Node Configurations</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <p class="card-text">Some Node-RED nodes use environment variables like <code>${MQTT_PORT}</code>. If you accidentally delete them you can restore them using this list as reference:</p>
                </div>
                <div class="w-100 d-block d-lg-none mb-3"></div>
                <div class="col-lg-6 col-sm-12">
                    <dl class="row">
                    <dt class="col-sm-5"><code>${INFLUXDB_ORG}</code></dt>
                    <dd class="col-sm-7">Organization for InfluxDB</dd>

                    <dt class="col-sm-5"><code>${INFLUXDB_BUCKET}</code></dt>
                    <dd class="col-sm-7">Bucket for InfluxDB</dd>

                    <dt class="col-sm-5"><code>${INFLUXDB_TOKEN}</code></dt>
                    <dd class="col-sm-7">Token for InfluxDB</dd>

                    <dt class="col-sm-5"><code>${INFLUXDB_URL}</code></dt>
                    <dd class="col-sm-7">Complete URL for InfluxDB</dd>

                    <dt class="col-sm-5"><code>${MQTT_TOPIC_ID}</code></dt>
                    <dd class="col-sm-7">Topic ID for MQTT</dd>

                    <dt class="col-sm-5"><code>${MQTT_HOST}</code></dt>
                    <dd class="col-sm-7">Hostname for MQTT broker</dd>

                    <dt class="col-sm-5"><code>${MQTT_PORT}</code></dt>
                    <dd class="col-sm-7">Port for MQTT broker</dd>

                    <dt class="col-sm-5"><code>${MQTT_USERNAME}</code></dt>
                    <dd class="col-sm-7">Username for MQTT broker</dd>

                    <dt class="col-sm-5"><code>${MQTT_PASSWORD}</code></dt>
                    <dd class="col-sm-7">Password for MQTT broker</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div style="margin-bottom: 1.5rem;"></div> -->
    <!-- <hr> -->
    <div class="alert alert-danger" role="alert">
        <p>Stop Node-RED if you do not need it for a while (saves server resources).</p>
        <p>Be aware that flows will be stopped and no data will be saved to the database</p>
        <button type="submit" class="btn btn-danger" name="action" value="stop" title="Stop Node-RED" onclick="return confirm('Are your sure you want to stop Node-RED?');">Stop Node-RED</button>
    </div>
</form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/custom/nodered_open_scripts.js' %}"></script>
{% endblock %}

