{% extends "core/base.html" %}
<!-- Code Examples -->

{% block content %}
    {% for key, example in examples.items %}
    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>{{ example.headline }}</span>
            <a href="#" class="copy-text" data-clipboard-text="{{ example.code }}">Copy Code</a>
        </div>
        <div class="card-body">
            <pre><code>{{ example.code }}</code></pre>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block extra_css %}
<style>

pre {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace;
    color: #333;
}
</style>
{% endblock %}

{% block extra_js %}
    // Copy code script
    <script src="{% static 'js/custom/code_and_flow_examples_scripts.js' %}"></script>
{% endblock %}