{% extends "core/base.html" %}

{% block content %}
<div class="alert alert-info text-center d-flex justify-content-center align-items-center" role="alert" style="flex-direction: column;">
    <p>Setting up Node-RED. Please wait, this may take up to a minute...</p>
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
</div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script>
    // Call the function to check container status after the page loads
    document.addEventListener('DOMContentLoaded', function() {checkNoderedStatus();});

    function checkNoderedStatus() {
        fetch('{% url "nodered-status-check" %}')  //  path to the status checking endpoint
            .then(response => response.json())
            .then(data => {
                if(data.status == "running") {
                    window.location.href = "{% url 'nodered-manager' %}";  // Redirect when running
                } else {
                    setTimeout(checkNoderedStatus, 2000);  // Recheck after 2 seconds
                }
            })
            .catch(error => console.error('Error checking container status:', error));
    }
</script>
{% endblock %}
