{# users/register.html #}
{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    {% if registration_enabled %}
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Join Biomed IoT Today</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Already Have An Account?
          <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
      </div>
    {% else %}
      <p class="text-center text-muted">
        Self-registration is disabled. Please contact the administrator.
      </p>
    {% endif %}
  </div>
{% endblock content %}
