{% extends "core/base.html" %}

{% block extra_css %}
<style>
    pre code {
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #e1e4e8; /* Light border */
        border-radius: 4px; /* Rounded corners */
        padding: 10px; /* Padding inside the code block */
        display: block; /* Ensure it takes up full width */
        white-space: pre-wrap; /* Handle long lines by wrapping */
        overflow-x: auto; /* Allow horizontal scrolling if needed */
    }
    </style>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">How to Setup a Gateway for Secure TLS Encryption</h4>
    </div>
    <div class="card-body">
        {% if tls %}
        <p><span style="color: #800000;"><em>Gateway is currently only available for setups using TLS (https). No file downloaded.</em></span></p>
        {% endif %}
        <p>Download the setup files by running this command in your gateways terminal</p>
        <pre><code>curl -O -k {{ download_url }}</code></pre>
        <p>or download them by clicking the button</p>
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <button type="submit">Download Gateway Setup ZIP</button>
            </form>
        </div>
        <br>
        <p>Unzip and delete the downloaded file</p>
        <pre><code>unzip biomed_iot_gateway.zip<br>rm biomed_iot_gateway.zip<br>sudo bash setup.sh</code></pre>
        <p>Follow the instructions: enter all necessary values (Website Domain or IP), device credentials, and topic id.</p>
        <p>When everything is set up, you can reboot or run the publish_cpu_temp.sh file to test the connection with</p>
        <pre><code>bash cputemp.sh</code></pre>
        <p>This script sends the Raspberry Pi's CPU temperature to the IoT-Plattform every 20 seconds.</p>
        <p>Next, go to 'Automate', add credentials to mqtt and influx nodes in the example flow in Node-RED to receive the messages and stores them in the database</p>
    </div>
</div>

{% endblock %}
